<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ec243fe7-2127-4efe-94c0-1a405f3137d6" Publisher="CN=Victor" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TalkWindows8</DisplayName>
    <PublisherDisplayName>Victor</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TalkWindows8.App">
      <VisualElements DisplayName="TalkWindows8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TalkWindows8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\MyEyes_splash.png" BackgroundColor="#53B0F3" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>